.jumbotron {
  min-height: 400px;
  margin-top: 0;
  background-image: url("../images/sassy.jpeg") ;
  background-size: cover;
  }

  .jumbotron .container {
    padding-top: 100px;
    max-width: 100%;
  }

.jumbotron .h1, .jumbotron h1 {
    color: #ffffff;
}


.navbar {
  background: #301C35;
  margin: 0;
}

.navbar-default {
  border: none;
}

.navbar-default .navbar-collapse {
  border: none;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #e0e0e0;
}


.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #301C35;
}


.featurette-divider {
  margin: 30px 0;
}

.navbar-default .navbar-nav li a, .navbar-default .navbar-brand {
  color: #e0e0e0;
  -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-nav li a:active, .navbar-default .navbar-nav li a:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}

.navbar-default .navbar-nav li a:visited, .navbar-default .navbar-brand:visited {
  color: #e0e0e0;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-brand:hover {
  color: #ffffff;
}

.featurette-heading {
  margin-top: 0;
}

.list-unstyled {
	padding-left: 0;
	list-style: none;
}

.list-inline li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
}

/*Change icons size here*/
.social-icons .fa {
	font-size: 2.0em;
  margin: 10px  0;
}
/*Change icons circle size and color here*/
.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
  color: #ffffff;
  background-color: #7e7e7e;
  -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons .fa:hover {
  background-color: #000000;
}

.social-icons.icon-circle .fa{
	border-radius: 50%;
}
