<div class="container">
  <div class="col-md-3">
    <ul>
      <li>Music of all kinds</li>
      <li>Typography</li>
      <li>Branding</li>
      <li>Business</li>
      <li>Fast Casual Restaurants</li>
      <li>All kinds of design</li>
      <li>Cycling</li>
      <li>Economics</li>
      <li>Coding</li>
      <li>Advertizing</li>
      <li>User Experience design</li>
      <li>Late 1800s and Early 1900s American History</li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li>Movies</li>
      <li>Start-Ups</li>
      <li>Techonolgy</li>
      <li>Computers</li>
      <li>Art</li>
      <li>Food</li>
      <li>Podcasts</li>
      <li>Product Development</li>
      <li>Markting</li>
      <li>Customer Experience</li>
      <li>Dinosaurs</li>
      <li>Animals</li>
      <li>Godzilla</li>
    </ul>
  </div>
</div>
