// Pagerination

.pager li > a, .pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-image: none;
  background-color: #fff;
  border: 1px solid #0033cc;
  border-radius: 0px;
  color: #0033cc;
}

.pager li > a:hover, .pager li > span:hover {
  display: inline-block;
  padding: 5px 14px;
  background-image: none;
  background-color: #0033cc;
  border: 1px solid #0033cc;
  border-radius: 0px;
  color: #fff;
  -webkit-transition: all ease 0.7s;
  -moz-transition: all ease 0.7s;
  -o-transition: all ease 0.7s;
  -ms-transition: all ease 0.7s ;
  transition: all ease 0.5s ;
}

// Body

body {
  font-size: 18px;
  line-height: 28px;
  padding-top: 44px;
  color: #545454;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

// Responsive Images
image-wrapper{
  max-width:90%;
  height:auto;
  position: relative;
  display:block;
  margin:0 auto;
}

.image-wrapper img{
  max-width:80% !important;
  height:auto;
  display:block;
  margin:auto;
}


// Type

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 41px;
  line-height: 56px;
  margin-top: 56px;
  margin-bottom: 28px;
  color: #0033cc;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 28px;
  margin-top: 28px;
  margin-bottom: 28px;
  color: #0033cc;
}

h3 {
  font-size: 18px;
  line-height: 28px;
  margin-top: 28px;
  margin-bottom: 28px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #0033cc;
}
h4 {
  font-size: 18px;
  line-height: 28px;
  margin-top: 28px;
  margin-bottom: 28px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #0033cc;
}
p, ul, ol, pre, table, {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-top: 28px;
  margin-bottom: 28px;
}

// Font Awesome Footer tweaks
.list-inline > li > a {
  text-decoration: none;
  background-image: none;
  color: #0033cc;
}

/* Sanitation */
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #dddddd;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}

blockquote {
  padding: 0px 20px;
  margin-top: 22px;
  margin-bottom: 22px;
  border-left: 2px solid #0033cc;
}


/* Link Styles */
h1 a {
    color: #0033cc;
    text-decoration: none;
    background-image: none;
}


a {
    color: #0033cc;
    text-decoration: none;
    background-image: linear-gradient(to bottom, white 75%, #0033cc 75%);
    background-size: 2px 3px;
    background-position: 0px 18px;
    background-repeat: repeat-x;
}

a:hover, a:focus {
  color: #0033cc;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857;
  word-break: break-all;
  word-wrap: break-word;
  color: #4f4f4f;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-top-color: rgb(204, 204, 204);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(204, 204, 204);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(204, 204, 204);
  border-left-style: solid;
  border-left-width: 1px;
  border-radius: 0px;
}

.post-meta {
  font-family: 'Open Sans', sans-serif;
  color: #bdbdbd;
  font-size: 16px;
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 14px;
  line-height: 16px;
}

// About me image
.circular {
  margin-top: 56px;
	width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(https://raw.githubusercontent.com/DanCarvajal/dancarvajal.github.io/master/images/DanCarvajal.JPG) no-repeat;
	}

/* Share bar */

.dot-bar {
      background-image: -webkit-repeating-radial-gradient(center center, #0033cc, #0033cc 0.5px, transparent 0.5px, transparent 100%);
      background-image: -moz-repeating-radial-gradient(center center, #0033cc, #0033cc 1px, transparent 1px, transparent 100%);
      background-image: -ms-repeating-radial-gradient(center center, #0033cc, #0033cc 1px, transparent 1px, transparent 100%);
      background-image: repeating-radial-gradient(center center, #0033cc, #0033cc 1px, transparent 1px, transparent 100%);
      -webkit-background-size: 3px 3px;
      -moz-background-size: 3px 3px;
      background-size: 3px 3px;
      margin-top: 20px;
}


.share-page {
    text-align: center;
    color: #0033cc;
    padding: 6px 14px;
    margin-top: 10px;
    font-size: 14px;

    a {
        font-size: 14px;
        font-weight: 400;
        color: #0033cc;
        text-decoration: none;
        background-image: none;
        margin-left: 10px;

        &:hover {
          color: #0033cc;
          background-image: linear-gradient(to bottom, white 75%, #0033cc 75%);
          background-size: 2px 3px;
          background-position: 0px 15px;
          background-repeat: repeat-x;
        }
    }
}


// Subscribe Button
.btn-default {
  display: inline-block;
  padding: 5px 14px;
  background-image: none;
  background-color: #fff;
  border: 1px solid #0033cc;
  border-radius: 0px;
  color: #0033cc;

    &:hover {
      display: inline-block;
      padding: 5px 14px;
      background-image: none;
      background-color: #0033cc;
      border: 1px solid #0033cc;
      border-radius: 0px;
      color: #fff;
      -webkit-transition: all ease 0.7s;
      -moz-transition: all ease 0.7s;
      -o-transition: all ease 0.7s;
      -ms-transition: all ease 0.7s ;
      transition: all ease 0.5s ;
    }

}

// Subscribe Form
.form-control {
    display: block;
    max-width: 100%;
    height: 31px;
    padding: 5px 14px;
    font-size: 14px;
    line-height: 28px;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #0033cc;
    border-radius: 0px;

      &.form-control:focus {
        border-color: #0033cc;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
}

// Form label
label {
    display: inline-block;
    max-width: 100%;
    height: 31px;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 28px;
    margin-bottom: 5px;
    font-weight: 400;
    color: #0033cc;

}
