// Navbar
.navbar-default {
  background-color: #F7F7F7;
  border-color: none !important;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #4f4f4f;
  text-decoration: none;
  background-image: none;
}

.navbar-default .navbar-nav a {
  color: #4f4f4f;
  text-decoration: none;
  background-image: none;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #4f4f4f;
  text-decoration: none;
  background-image: none;
}

.navbar-default .navbar-nav > li > a {
  color: #4f4f4f;
}

.navbar-default .navbar-brand {
  color: #4f4f4f;
  text-decoration: none;
  background-image: none;
}
.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}

// Pagerination

.pager li > a, .pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-image: none;
  background-color: #F7F7F7;
  border: 1px solid #ddd;
  border-radius: 0px;
}


// Body

body {
  font-size: 16px;
  line-height: 22px;
  padding-top: 44px;
  color: #4f4f4f;
  background-color: #F7F7F7;
  font-family: 'Quattrocento Sans', sans-serif;
}

// Responsive Images
image-wrapper{
  max-width:90%;
  height:auto;
  position: relative;
  display:block;
  margin:0 auto;
}

.image-wrapper img{
  max-width:100% !important;
  height:auto;
  display:block;
}


// Type

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 54px;
  line-height: 66px;
  margin-top: 44px;
  margin-bottom: 22px;
}
h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  line-height: 44px;
  margin-top: 44px;
  margin-bottom: 22px;
}

h3 {
  font-size: 24px;
  line-height: 44px;
  margin-top: 22px;
  margin-bottom: 22px;
  font-family: 'Oswald', sans-serif;
}
h4 {
  font-size: 16px;
  line-height: 22px;
  margin-top: 22px;
  margin-bottom: 22px;
  font-family: 'Oswald', sans-serif;
}
p, ul, ol, pre, table, {
  font-family: 'Quattrocento Sans', sans-serif;
  margin-top: 22px;
  margin-bottom: 22px;
}

// Font Awesome Footer tweaks
.list-inline > li > a {
  text-decoration: none;
  background-image: none;
}

/* Sanitation */
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #dddddd;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}

blockquote {
  padding: 0px 20px;
  margin-top: 22px;
  margin-bottom: 22px;
}


/* Link Styles */
h2 a {
    color: #4f4f4f;
    text-decoration: none;
    background-image: none;
}


a {
    color: #4f4f4f;
    text-decoration: none;
    background-image: linear-gradient(to bottom, white 75%, #333332 75%);
    background-size: 2px 3px;
    background-position: 0px 14px;
    background-repeat: repeat-x;
}

a:hover, a:focus {
  color: #4f4f4f;
  text-decoration: none;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857;
  word-break: break-all;
  word-wrap: break-word;
  color: #4f4f4f;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-top-color: rgb(204, 204, 204);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(204, 204, 204);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(204, 204, 204);
  border-left-style: solid;
  border-left-width: 1px;
  border-radius: 0px;
}
