<!DOCTYPE html>
<html>

  {% include head.html %}

  <body data-spy="scroll" data-target="#sidebar">
    <div class="continer">
    {% include header.html %}
  </div>
    <div class="continer">
      <div class="col-md-9" role="main">


        {{ content }}



    </div>
    <div class="col-md-3" role="complementary">
      Sidebar
          </div>
    {% include footer.html %}
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
$(document).ready(function(){
    $(".scroll-area").scrollspy({target: "#myNavbar"})
});
</script>
  </body>

</html>
